
.product{
    display: inline-block;
    width: 270px;
    height: 410px;
    border:3px solid rgb(0, 30, 128);
    border-radius: 2px;
    padding: 15px;
    margin-left: 10px;
    margin-bottom: 10px;
    background-color: aquamarine;
    color: black;
    
}
.product img{
    width: 15rem;
    height: 15rem;
    padding-right: 3px;
}
.total{
    color:black;
    font-weight: 600;
}
.btn{
    color: white;
    background-color: black;
}
h5{
    text-align: center;
}
.btn{
    margin-top: 1px;
}