
.quantity-picker{
    border: 1px solid  olivedrab;
    border-radius: 2px;
    background-color: skyblue;

}

.quantity-picker button{
    margin: 0 5px;
}

.quantity-picker label{
    font-weight: bold;
    columns: grey;
}
.btn-increase{
    background-color: rgb(139, 180, 139);
}
.btn-decrease{
    background-color: rgb(243, 164, 164);
}
